name: Test

on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        required: true
      issueKeys:
        type: string
        required: true

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: ./
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          jiraHost: ${{ secrets.JIRA_HOST }}
          jiraEmail: ${{ secrets.JIRA_EMAIL }}
          jiraApiToken: ${{ secrets.JIRA_API_TOKEN }}
          jiraProjectKey: 'ACTION'
          jiraVersionPrefix: 'v'
          jiraReleaseVersion: ${{ inputs.version }}
